.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.logo {
  width: 120px;
  height: 90px;
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
}