/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your other global styles or custom base styles */
body {
  background-color: #f9fafb; /* Tailwind's bg-gray-50 */
  color: #18181b; /* Replace with your main text color or use #18181b for Tailwind's text-gray-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Example from previous config */
  font-family: 'Inter', 'Roboto', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}